<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">
<div class="marco_1">
    <div class="marco_2">
        <div class="marco_3">
            
            <div class="contenedor">
                <div class="logimage">
                    e
                </div>
                <div class="logform">
                    
                    <br><br><br><br><br>
                    <h4>UNETE A LA DIVERSION</h4>
                    <h6>ES GRATIS</h6>
                    <br><br>
                    <div class="button-default button-slanted">
                        <span class="button-slanted-content">Registrar</span>
                    </div>
                    <br>
                    <br>
                    <br>

                    <div class="button-default button-slanted loginb">
                        <span class="button-slanted-content">Logearse</span>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
</div>
