@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
.marco_1{
    
    margin-left: -10%;
    margin-right: -10%;
    margin-top: -2%;
   
    background: #9900cc;
}

.marco_2{
    margin-left: 1%;
    margin-right: 1%;
    background: #731f86;
}

.marco_3{
    
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 0%;
    
    /*background: #323232;*/
    background-image: linear-gradient(#212121,#1b1a1a);

}

.contenedor{
    
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}

.logimage{
    
    order: 0;
    flex: 2.5 1 auto;
    align-self: auto;
    background-repeat: no-repeat;
    background-image: url("src/assets/img/unite1.jpg") ;
    
    height: 600px;
    background-size: 900px 100%;
}

.logform{
    
    
    order: 0; 
    flex: 1 1 auto;
    align-self: auto;
    text-align: center;
    
   
    
}

.logform h6{
    
    font-family: 'Fugaz One', cursive;
    font-size: 20px;
    
    animation: changeBg 0.5s infinite;
}

.logform h4{
    font-family: 'Fugaz One', cursive;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

@keyframes changeBg{
    0%, 100%  {text-shadow:  1px 1px 5px rgba(255, 255, 255, 0.782);color: rgb(255, 187, 1);}
    50%  {text-shadow:  1px 1px 0px rgba(255, 255, 255, 0.726);color: rgb(197, 0, 232);}
    
 }


 
.button-default {
    color: white;
    background-color: rgb(218, 152, 22);
    text-align: center;
    text-transform: uppercase;
    padding: 5px 5px;
    margin: 10px;
    display: inline-block;
    transition: all .5s ease;
  }
  
  .button-slanted {
    
    transform: skewX(-10deg);
  }
  
  .button-slanted-content {
    
    transform: skewX(10deg);  
    display: inline-block;
    padding:10px 30px;
    font-family: 'Fugaz One', cursive;
  }

  .button-slanted:hover{
    display: inline-block;
    transform: skewX(-10deg); 
    box-shadow: 10px 0px #9900cc;
    padding-left: 8px;
    cursor: pointer;
   

  }

  .button-default .loginb{
    width: 500px !important;
  }
  
