
<div class="seccion">
    <div class="arriba">
        <h1>¿Cuánto cuesta jugar a Pokémon UNITE?</h1>
    </div>
    <div class="abajo">
        <div class="izquierda">
            <h2>Puedes disfrutar del mejor contenido para adultos de Pokémon UNITE sin coste alguno, pero existen algunos elementos de pago, como las gemas Æos, una de las monedas del juego</h2>
            <div class="row">
                <button (click)="habla(0)" class="btn btn-outline-danger col-sm">
                  INICIAR
                </button>
                <button (click)="pausa(0)" class="btn btn-outline-danger col-sm">
                  PAUSAR
                </button>
                <button (click)="resumir(0)" class="btn btn-outline-danger col-sm">
                  RESUMIR
                </button>
            </div>
        </div>
        <div class="derecha">
            <img src="../../assets/img/aegislash.png" class="imagenderecha">
        </div>
    </div>
</div>

<div class="seccion">
    <div class="arriba verde">
        <h1>¿Cómo puedo transferir el acceso a mis datos de guardado de Pokémon UNITE de un dispositivo iOS a uno Android?</h1>
    </div>
    <div class="abajo averde">
        <div class="izquierda">
            <h2>Para poder transferir el acceso a tus datos de guardado de un dispositivo iOS a uno Android, primero tendrás que vincular tu cuenta de Pokémon UNITE en iOS con una de estas plataformas.</h2>
            <li>Cuenta Nintendo</li>
            <li>Cuenta del Club de Entrenadores Pokémon</li>
            <li>Cuenta de Google</li>
            <li>Cuenta de Facebook</li>
            <h2>Una vez vinculado el juego con una de ellas, puedes descargar Pokémon UNITE en tu dispositivo Android y seguir los pasos que encontrarás en este artículo.</h2>
            <div class="row">
                <button (click)="habla(1)" class="btn btn-outline-success col-sm">
                  INICIAR
                </button>
                <button (click)="pausa(1)" class="btn btn-outline-success col-sm">
                  PAUSAR
                </button>
                <button (click)="resumir(1)" class="btn btn-outline-success col-sm">
                  RESUMIR
                </button>
            </div>
        </div>
        <div class="derecha">
            <img src="../../assets/img/aegislash.png" class="imagenderecha">
        </div>
    </div>
</div>

<div class="seccion">
    <div class="arriba azul" >
        <h1>¿Cómo funciona el Desafío para principiantes en Pokémon UNITE? ¿Cómo reclamo mis recompensas?</h1>
    </div>
    <div class="abajo aazul">
        <div class="izquierda">
            <h2>Para obtener las recompensas del Desafío para principiantes (como la Licencia Crustle Unite), debes completar todos los Desafíos elegibles. Después de completar los Desafíos, puedes recibir las recompensas seleccionando Reclamar. Asegúrate de reclamar tus recompensas antes de que termine el Desafío para principiantes, de lo contrario, no podrás recibir las recompensas.</h2>
            <div class="row">
                <button (click)="habla(2)" class="btn btn-outline-primary col-sm">
                  INICIAR
                </button>
                <button (click)="pausa(2)" class="btn btn-outline-primary col-sm">
                  PAUSAR
                </button>
                <button (click)="resumir(2)" class="btn btn-outline-primary col-sm">
                  RESUMIR
                </button>
            </div>
        </div>
        <div class="derecha">
            <img src="../../assets/img/aegislash.png" class="imagenderecha">
        </div>
    </div>
</div>

<div class="seccion">
    <div class="arriba morado">
        <h1>¿Cómo se usan las gemas Æos en Pokémon UNITE?</h1>
    </div>
    <div class="abajo amorado">
        <div class="izquierda">
            <h2>Las gemas Æos de Pokémon UNITE no se pueden usar sin el permiso del jugador. Estas pueden emplearse para conseguir algunos objetos directamente. Además, las gemas Æos pueden utilizarse de la siguiente manera:</h2>
            <li>Para conseguir objetos intercambiando cupones Æos en el Bazar Æos. Si un jugador no tiene suficientes cupones Æos para completar la transacción, se le dará la opción de cubrir la diferencia con gemas Æos.</li>
            <li>Si el jugador tiene un pase de combate prémium o un pase de combate prémium plus, tendrá la opción de usar gemas Æos para subir el nivel de pase de combate.</li>
            <div class="row">
                <button (click)="habla(3)" class="btn btn-outline-dark col-sm">
                  INICIAR
                </button>
                <button (click)="pausa(3)" class="btn btn-outline-dark col-sm">
                  PAUSAR
                </button>
                <button (click)="resumir(3)" class="btn btn-outline-dark col-sm">
                  RESUMIR
                </button>
            </div>
        </div>
        <div class="derecha">
            <img src="../../assets/img/aegislash.png" class="imagenderecha">
        </div>
    </div>
</div>

<div class="seccion">
    <div class="arriba amarillo">
        <h1>¿Por qué no puedo conseguir más monedas Æos en Pokémon UNITE?</h1>
    </div>
    <div class="abajo aamarillo">
        <div class="izquierda">
            <h2>Las monedas Æos son una de las monedas del juego en Pokémon UNITE. Ten en cuenta la siguiente información sobre las monedas Æos:</h2>
            <li>Se puede obtener un máximo de 2100 monedas Æos a la semana por participar en combates.</li>
            <li>No hay ningún objeto que permita aumentar el límite de monedas Æos que se puede conseguir por semana.</li>
            <li>La cantidad de monedas Æos se restablece cada lunes a las 00:00 UTC.</li>  
            <div class="row">
                <button (click)="habla(4)" class="btn btn-outline-warning col-sm">
                  INICIAR
                </button>
                <button (click)="pausa(4)" class="btn btn-outline-warning col-sm">
                  PAUSAR
                </button>
                <button (click)="resumir(4)" class="btn btn-outline-warning col-sm">
                  RESUMIR
                </button>
            </div>
        </div>
        <div class="derecha">
            <img src="../../assets/img/aegislash.png" class="imagenderecha">
        </div>
    </div>
</div>

<div class="seccion">
    <div class="arriba rosa">
        <h1>¿Cómo puedo activar el chat de voz en la versión de Pokémon UNITE para Nintendo Switch?</h1>
    </div>
    <div class="abajo arosa">
        <div class="izquierda">
            <h2>Para poder usar el chat de voz en Pokémon UNITE, debes alcanzar el Nv. 6 de Entrenador y participar en un combate con otros jugadores. Sigue estos pasos para activar el chat de voz:</h2>
            <li>Usa unos auriculares que sean compatibles con tu consola Nintendo Switch.</li>
            <li>Abre Pokémon UNITE e inicia un combate.</li>
            <li>Una vez que comience el encuentro, pulsa el botón + para abrir el menú del juego.</li>
            <li>Después, pulsa el botón - para acceder a los ajustes.</li>
            <li>Busca la opción Ajustes del chat de voz.</li>
            <li>Para poder oír a los otros jugadores, selecciona Sí para la opción Recepción.</li>
            <li>Para poder usar la función del chat de voz, deberás aceptar los términos de uso para el chat antes de activarlo por primera vez. Pulsa el botón X para aceptar y continuar.</li>
            <li>Si quieres oír solo a jugadores a los que has invitado, selecciona Conocidos en la opción Rango receptor. Si seleccionas Todos, podrás oír a todo el equipo.</li>
            <li>Si quieres que los otros jugadores puedan oírte, selecciona Sí para la opción Emisión.</li>
            <li>Si quieres que te oigan solo jugadores a los que has invitado, selecciona Conocidos en la opción Rango emisor. Si seleccionas Todos, todos los jugadores del equipo podrán oírte.</li>
            <div class="row">
                <button (click)="habla(5)" class="btn btn-outline-danger col-sm">
                  INICIAR
                </button>
                <button (click)="pausa(5)" class="btn btn-outline-danger col-sm">
                  PAUSAR
                </button>
                <button (click)="resumir(5)" class="btn btn-outline-danger col-sm">
                  RESUMIR
                </button>
            </div>
        </div>
        <div class="derecha">
            <img src="../../assets/img/aegislash.png" class="imagenderecha">
        </div>
    </div>
</div>

<div class="seccion">
    <div class="arriba naranja">
        <h1>¿Cuáles son los requisitos de sistema para jugar a Pokémon UNITE?</h1>
    </div>
    <div class="abajo anaranja">
        <div class="izquierda">
            <h2>Android</h2>
            <p>Android 5.0 (API nivel 21) o posterior</p>
            <p>Procesador: Octa-core 1.8 GHz o superior</p>
            <p>Memoria: 3 GB RAM</p>
            <p>Gráficos: Adreno 506 o superior</p>
            <h2>iOS</h2>
            <p>iOS 12.0 o posterior</p>
            <p>Procesador: A9 o superior</p>
            <p>Memoria: 2 GB RAM</p>
            <div class="row">
                <button (click)="habla(6)" class="btn btn-outline-warning col-sm">
                  INICIAR
                </button>
                <button (click)="pausa(6)" class="btn btn-outline-warning col-sm">
                  PAUSAR
                </button>
                <button (click)="resumir(6)" class="btn btn-outline-warning col-sm">
                  RESUMIR
                </button>
            </div>
        </div>
        <div class="derecha">
            <img src="../../assets/img/aegislash.png" class="imagenderecha">
        </div>
    </div>
</div>

<div class="seccion">
    <div class="arriba cian">
        <h1>¿Hay diferencias entre las versiones de Pokémon UNITE para Nintendo Switch y para dispositivos móviles?</h1>
    </div>
    <div class="abajo acian">
        <div class="izquierda">
            <h2>No. En lo que respecta al sistema de juego, no hay diferencias entre ambas versiones. Sin embargo, el tipo de cuenta que se puede vincular con cada una es distinto.</h2>
            <div class="row">
                <button (click)="habla(7)" class="btn btn-outline-info col-sm">
                  INICIAR
                </button>
                <button (click)="pausa(7)" class="btn btn-outline-info col-sm">
                  PAUSAR
                </button>
                <button (click)="resumir(7)" class="btn btn-outline-info col-sm">
                  RESUMIR
                </button>
            </div>
        </div>
        <div class="derecha">
            <img src="../../assets/img/aegislash.png" class="imagenderecha">
        </div>
    </div>
</div>

<div class="seccion">
    <div class="arriba gris">
        <h1>¿Cuánto dura una membresía Unite?</h1>
    </div>
    <div class="abajo agris">
        <div class="izquierda">
            <h2>La membresía Unite dura un mes a partir del día en que se activa.</h2>
            <div class="row">
                <button (click)="habla(8)" class="btn btn-outline-secondary col-sm">
                  INICIAR
                </button>
                <button (click)="pausa(8)" class="btn btn-outline-secondary col-sm">
                  PAUSAR
                </button>
                <button (click)="resumir(8)" class="btn btn-outline-secondary col-sm">
                  RESUMIR
                </button>
            </div>
        </div>
        <div class="derecha">
            <img src="../../assets/img/aegislash.png" class="imagenderecha">
        </div>
    </div>
</div>
