
<div class="seccion">
    <div class="arriba">
        <h1>¿Cuánto cuesta jugar a Pokémon UNITE?</h1>
    </div>
    <div class="abajo">
        <div class="izquierda">
            <h2>Puedes disfrutar del mejor contenido para adultos de Pokémon UNITE sin coste alguno, pero existen algunos elementos de pago, como las gemas Æos, una de las monedas del juego</h2>
        </div>
        <div class="derecha">
            <img src="../../assets/img/aegislash.png" class="imagenderecha">
        </div>
    </div>
</div>