<div class="container">
  <h1 class="brand"><span>Poke</span> poke poke</h1>
  <div class="wrapper animated bounceInLeft">
    <div class="company-info">
      <h3>poke poke</h3>
      <pre>
        <p>mensaje: </p>
        {{objuser.name}}
      </pre>
      <ul>
        <li><i class="fa fa-road"></i> </li>
        <li><i class="fa fa-phone"></i> </li>
        <li><i class="fa fa-envelope"></i> </li>
      </ul>
    </div>
    <div class="contact">
      <h3>Contactanos</h3>
      <form #useForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Name</label>
          <input type="text" name="name" [(ngModel)]="objuser.name">
        </div>
        <div class="form-group">
          <label>Last name</label>
          <input type="text" name="lastname" [(ngModel)]="objuser.lastname">
        </div>
        <div class="form-group">
          <label>Email Address</label>
          <input type="email" name="email" [(ngModel)]="objuser.email">
        </div>
        <div class="form-group">
          <label>Phone Number</label>
          <input type="text" name="phone" [(ngModel)]="objuser.phone">
        </div>
        <div class="full form-group">
          <label>Message</label>
          <textarea name="message" rows="5" [(ngModel)]="objuser.message"></textarea>
        </div>
        <div class="full">
          <button class="submit" type="submit">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>