.filtro {
    border-radius: 20px;
    height: 45px;
    padding: 7px;
    margin: 10px;
    border-style: none;
    background-color: blueviolet;
    color: white;
    font-weight: bolder;
}

.displayfiltros {
    list-style-type: none;
    display: flex;
}

.pokecards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.carta {
    width: 200px;
    height: auto;
    display: none;
    padding: 5px;
    background-color: rgb(56, 1, 80);
    margin: 10px;
    border-radius: 20px;
    transition: all 0.1s;
}

.imgcard {
    border-radius: 20px;
    width: 100%;
    height: 100%;
}

.cardtexto {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 30px;
}

.show {
    display: block;
}

.foto {
    border-radius: 20px;
}

#Defensivo>.foto {
    background-color: rgb(0, 255, 0);
    background-image: url(https://unite.pokemon.com/images/footer/background.jpg);
    background-size: 50%;
    background-blend-mode: hard-light;
}

#Ofensivo>.foto {
    background-color: rgb(253, 122, 0);
    background-image: url(https://unite.pokemon.com/images/footer/background.jpg);
    background-size: 50%;
    background-blend-mode: hard-light;
}

#Apoyo>.foto {
    background-color: rgb(157, 255, 0);
    background-image: url(https://unite.pokemon.com/images/footer/background.jpg);
    background-size: 50%;
    background-blend-mode: hard-light;
}

#Agil>.foto {
    background-color: rgb(0, 255, 234);
    background-image: url(https://unite.pokemon.com/images/footer/background.jpg);
    background-size: 50%;
    background-blend-mode: hard-light;
}

#Equilibrado>.foto {
    background-color: purple;
    background-image: url(https://unite.pokemon.com/images/footer/background.jpg);
    background-size: 50%;
    background-blend-mode: hard-light;
}

.carta:hover {
    transform: scale(1.15);
}

/* RESPONSIVE */
@media(min-width:1000px) {
    .displayfiltros{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  }
  
  @media(max-width:1000px){
    .filtro{
      width: 130px;
    }
    .container{
        width: 100%;
    }
    .menutipos{
        width: 100%;
    }
    .displayfiltros{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
  }