<div class="menutipos">
    <ul class="displayfiltros">
      <li class="lifiltro">
        <button class="filtro" (click)="filtro('all')">Todos los roles</button>
      </li>
      <li class="lifiltro">
        <button class="filtro" (click)="filtro('Ofensivo')">Ofensivo</button>
      </li>
      <li class="lifiltro">
        <button class="filtro" (click)="filtro('Defensivo')">Defensivo</button>
      </li>
      <li class="lifiltro">
        <button class="filtro" (click)="filtro('Apoyo')">Apoyo</button>
      </li>
      <li class="lifiltro">
        <button class="filtro" (click)="filtro('Agil')">Agil</button>
      </li>
      <li class="lifiltro">
        <button class="filtro" (click)="filtro('Equilibrado')">Equilibrado</button>
      </li>
    </ul>
</div>

<div class="pokecards">
  <div  class="card carta show" *ngFor="let poke of pokemones" id={{poke.tipo}}>
    <div class="foto">
      <img src={{poke.foto}} class="card-img-top imgcard" alt="...">
    </div>
    <div class="card-body">
      <p class="card-text cardtexto">{{poke.nombre}}</p>
    </div>
  </div>
</div>
