

.PokemonInfo1{
    background: #d97a22;
    border-radius: 10px;
    height: 600px;
    width: 800px;
}


.PokemonInfo2{
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    height: 600px;
    background: rgb(144, 52, 230);
}

.PokemonInfo3{
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    height: 600px;
    background: rgb(88, 88, 88);
}

.statmenu{
    background-color: rgb(114, 114, 116);
    border-radius: 5px;
    margin-top: 15px;
}

.statmenu img{
    margin-top: 5px;
}

h2{
    text-align: center;
    margin-top: 10px;
    color: aliceblue;

}

.pokedexEntry{
    color: aliceblue;
    padding-left: 5px;
    text-align: justify;
}