

<div class="PokemonInfo1 container">
    <div class="PokemonInfo2 ">
        <div class="PokemonInfo3 ">
        <br>
        <h2>Cinderace</h2>    
        
        <div class="d-flex statmenu">
            <img src="../../../assets/img/Cinderace.png" width="350" height="320">
            <div id="columnchart_values" ></div>
            
           
            
            
            
            
            
            
            
        </div>
        <div class="pokedexEntry">
            <h3>Pokedex Entry</h3>
            <p>It's skilled at both offense and defense, and it gets pumped up when cheered on. But if it starts showboating, it could put itself in a tough spot.It juggles a pebble with its feet, turning it into a burning soccer ball. Its shots strike opponents hard and leave them scorched.</p>
            <div id="barchart_values" ></div>
        </div>

       

        
        
   
        </div>
    </div>
</div>
