 <div class="centrar">
    <h5 class="centroflex textito">Iniciar sesión con número de celular</h5>
    <div class="centroboton">
    <button  (click)="MetodoLogin()" type="button" class="btn btn-warning" data-dismiss="modal">
      Login con email
   </button>
</div>
    <div class="container">
        <label for="phone" id="lbNum" class="centroo textito">Número de teléfono</label>
        <div id="cajaNum" class="telefono">
            <input type="text"  [(ngModel)]="phoneNumber.country"  id="num" class="input inputs" placeholder="52" maxlength="2">
            <input type="text"  [(ngModel)]="phoneNumber.area"     id="num" class="input inputs" placeholder="449" maxlength="3">
            <input type="text"  [(ngModel)]="phoneNumber.prefix"   id="num" class="input inputs" placeholder="555" maxlength="3">
            <input type="text"  [(ngModel)]="phoneNumber.line"     id="num" class="input inputs" placeholder="5555" maxlength="4">
        </div>
        <div id="recaptcha-container" class="centroflex"></div>
        <div class="centroboton">
        <button (click)="sendLoginCode()" class="btn btn-warning">Enviar código de login por SMS</button>
    </div>
        <div *ngIf="windowRef.confirmationResult"> 
            <div class="centroboton">
            <label for="code" id="lbNum">Ingrese el código de verificación</label>
            <input type="text" name="code" id="num" [(ngModel)]="verificationCode">
            <div class="formh5 alert alert-warning" role="alert" id="errorDatos" hidden>
              {{advice}}
            </div>
            </div>
            
            
            <div class="d-flex justify-content-around">

             <button (click)="verifyLoginCode()" class="btn btn-outline-danger centroboton">Verificar</button>
            </div>
        </div>
    </div>
</div>
