<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#SearchPoke">
    Search Pokemon
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="SearchPoke" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Buscar Pokemon</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body formulario">
          <!-- REGISTER REGISTER REGISTER REGISTER REGISTER REGISTER REGISTER REGISTER REGISTER-->
          <div class="col-xs-1" align="center">
            
            <div class="d-flex  justify-content-evenly ">
                 <button (click)="SeleccionarMetodo(1)" type="button" class="btn btn-warning" data-dismiss="modal">
                    Id
                  </button>
                  <button (click)="SeleccionarMetodo(2)" type="button" class="btn btn-warning" data-dismiss="modal">
                    Nombre
                  </button>
                  <button (click)="SeleccionarMetodo(3)" type="button" class="btn btn-warning" data-dismiss="modal">
                    Stats                    
                  </button>
                  <button (click)="SeleccionarMetodo(4)" type="button" class="btn btn-warning" data-dismiss="modal">
                    Tipo
                  </button>
            </div>
            <br>
            <div *ngIf="buscId" class="container">
                <h5>Ingresa el Pokemon Id</h5>
                <input id="idf" type="text"/>
                <br>
                <br>
                <button (click)="BuscaID()" type="button" class="btn btn-warning" data-dismiss="modal">
                    Buscar
                </button>
                <br>
            </div>
            <div *ngIf="buscName" class="container">
                <h5>Ingresa el nombre del Pokemón</h5>
                <input id="Unamef" type="text" />
                <br>
                <br>
                <button (click)="BuscaNombre()" type="button" class="btn btn-warning" data-dismiss="modal">
                    Buscar
                </button>
                <br>
            </div>

            <div *ngIf="buscStat" class="container">
                <h5>Ingresa stats del Pokemón</h5>
                <div class="d-flex  justify-content-evenly">
                    <div>
                     <h5>Attack</h5>
                     <input type="number" id="atqf" name="points" step="1" min="0" max="100" value="0">
                    </div>
                    <div>
                     <h5>Special</h5>
                     <input type="number" id="spaf" name="points" step="1" min="0" max="100" value="0">
                    </div>
                    <div>
                     <h5>Defense</h5>
                     <input type="number" id="deff" name="points" step="1" min="0" max="100" value="0">
                    </div>
                    <div>
                     <h5>Speed</h5>
                     <input type="number" id="spef" name="points" step="1" min="0" max="100" value="0">
                    </div>
                 </div>
                    
                  
                <br>
                <br>
                <button (click)="BuscaStats()" type="button" class="btn btn-warning" data-dismiss="modal">
                    Buscar
                </button>
                <br>
            </div>

            <div *ngIf="buscType" class="container">
                <h5>Ingresa tipo del Pokemón</h5>
                <select id="tipof" class="form-select" aria-label="Default select example">
                    
                    <option value="Ofensivo">Ofensivo</option>
                    <option value="Defensivo">Defensivo</option>
                    <option value="Apoyo">Apoyo</option>
                    <option value="Agil">Agil</option>
                    <option value="Equilibrado">Equilibrado</option>
                    <!--
                    <option value="1">Rock</option>
                    <option value="2">Steel</option>
                    <option value="3">Normal</option>
                    <option value="1">Fighting</option>
                    <option value="2">Psychic</option>
                    <option value="3">Ghost</option>
                    <option value="3">Dark</option>
                    <option value="3">Poison</option>
                    <option value="3">Dragon</option>
                    <option value="3">Flying</option>
                    <option value="3">Water</option>
                    <option value="3">Fire</option>
                    <option value="3">Ice</option>
                    <option value="3">Electric</option>

                    -->
                  
                  </select>
                <br>
                <br>
                <button (click)="BuscaTipo()" type="button" class="btn btn-warning" data-dismiss="modal">
                    Buscar
                </button>


                <br>
            </div>

            
            

            <br>
           
          
          <!-- REGISTER REGISTER REGISTER REGISTER REGISTER REGISTER REGISTER REGISTER REGISTER-->
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
    </div>
  </div>