<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#ModalSearchUser">
  Buscar Usuario
</button>

<!-- Modal -->
<div class="modal fade" id="ModalSearchUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Buscar Usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col-xs-1" align="center">

          <div class="d-flex  justify-content-evenly">
            <button (click)="SeleccionarMetodo(1)" type="button" class="btn btn-secondary" data-dismiss="modal">
              ID
            </button>
            <button (click)="SeleccionarMetodo(2)" type="button" class="btn btn-secondary" data-dismiss="modal">
              Nombre Usuario
            </button>
          </div>
          <br>
          <div *ngIf="buscId" class="container">
            <h5>Ingresa id</h5>
            <input id="idf" type="text" />
            <br>
            <br>
            <button (click)="BuscaID()" type="button" class="btn btn-warning" data-dismiss="modal">
              Buscar
            </button>
            <br>
          </div>
          <div *ngIf="buscName" class="container">
            <h5>Ingresa username</h5>
            <input id="Unamef" type="text" />
            <br>
            <br>
            <button (click)="BuscaNombre()" type="button" class="btn btn-warning" data-dismiss="modal">
              Buscar
            </button>
            <br>
          </div>
          
          <div *ngIf="UsuarioEncontrado==true && buscId==true">
            <br>
            <h6>Se encontró el siguiente usuario</h6>
            <p>{{Unombre}}</p>
            <p>{{Uusername}}</p>
            <p>{{Uemail}}</p>
            <p>{{Uid}}</p>
          </div>

          <div *ngIf="UsuarioEncontrado==true && buscName==true">
            <br>
            <h6>Se encontró el siguiente usuario</h6>
            <div *ngFor="let user of resultados">
              <p>{{user.Unombre}}</p>
              <p>{{user.Uusername}}</p>
              <p>{{user.Uemail}}</p>
              <p>{{user.Uid}}</p>
            </div>
          </div>

        </div>
        <br>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>