
<div class="carcasa">
    <div class="pantalla">
        <div class="nombre"><h1>{{nombre}}</h1></div>
        <div class="imagenentrada">
            <div class="imagenpoke"><img src={{foto}} alt=""></div>
            <div class="entrada"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium, quibusdam!</p></div>
        </div>
    </div>
    <div class="accesorios">
        <div class="cross"></div>
        <div class="circulos">
            <button class="circle"><div class="pausa"></div></button>
            <button class="circle"><div class="stop"></div></button>
            <button class="circle"><div class="play"></div></button>
        </div>

    </div>
</div>