<div class="container accmenu">
    <div class="container" *ngIf="authService.userData.displayName!='admin'; else contenidoAdmin">
        
        <div class="ModoUser ">
            <br>
            <h1 class="h2">Perfil de usuario</h1>
            <!-- Muestra los datos del usuario cuando logged in -->
            <div *ngIf="authService.userData as user">
                <div class="col-md-12">
                    <div class="media">
                        <img class="align-self-start mr-5 img-thumbnail rounded-circle"
                            src="../../assets/img/poke-user.jpg" alt="" height="250px" width="250px">
                        <div class="media-body">
                            <br>
                            <h4>Bienvenido   <strong>{{(user.displayName) ? user.displayName : 'User'}}</strong></h4>
                            <p>User ID: <br><strong>{{user.uid}}</strong></p>
                            <p>Nombre Completo: <br><strong>{{user.photoURL}}</strong></p>
                            <p>Correo: <br><strong>{{user.email}}</strong></p>
                            <h4>Guarda tus datos escaneando el código!</h4>
                            <qrcode [qrdata]="
                            'Nombre: '+user.displayName+
                            '\nUID: '+user.uid+
                            '\nEmail: '+user.email" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="ModoAdmin">
        <br>
        <h5>Herramientas de administrador</h5>
        <section>
            <div class="d-flex justify-content-around">
                <app-pokemon-form></app-pokemon-form>
                <!--POR AQUI MANDAS LOS DATOS TRANSPORTADOS HACIA UN METODO PERO YA DE ESTE TS (RecibirDatos)-->
                <app-search-poke-form (PasarDatos)="RecibirDatos($event)"></app-search-poke-form>
                <app-search-user-form></app-search-user-form>
            </div>
            <br>
        </section>
        <br>
        <div *ngIf="EncontradoPoke==true"><!--Si llega a encontrar el pokemon, esto se debe poner en true-->
            <app-pokemon-solo-page></app-pokemon-solo-page>
        </div>
        <div *ngIf="EncontradoUser==true"><!--Si llega a encontrar el usuario, esto se debe poner en true-->
        </div>
    </div>
    <ng-template #contenidoAdmin>
        
  

        
       
    </ng-template>
    <br>
    
</div>



