<div class="PokeProfile">
    <div class="">
        <div class="pokeMarc">
            <img [src]="obj.imgUrl">
        </div>
        <div>
            <br>
            <h2>{{obj.pk_name}}</h2>
            <div class="pokeform">
                <label>Nombre del Pokemon</label>
                <input id="nombref" type="text" class="form-control inputs" [placeholder]="obj.pk_name">
                <br>
                <label>URL de la imagen</label>
                <input id="fotof" type="text" class="form-control inputs" [placeholder]="obj.imgUrl">
                <br>
                <label>Entrada Pokedex</label>
                <textarea id="entryf" class="form-control inputs" id="exampleFormControlTextarea1" rows="3" [placeholder]="obj.pk_info"></textarea>
                <br>
                <label>Tipo Pokemon</label>
                <input id="tipof" type="text" class="form-control inputs" [placeholder]="obj.pk_type">
                <br>
                <div class="d-flex  justify-content-evenly">
                    <div>
                      <label>Attack </label><br>
                      <input type="number" id="atqe" name="points" step="1" min="0" max="100" [value]="obj.pk_atq">
                     </div>
                     <div>
                      <label>Special </label><br>
                      <input type="number" id="spaf" name="points" step="1" min="0" max="100" [value]="obj.pk_spa">
                     </div>
                     <div>
                      <label>Defense </label><br>
                      <input type="number" id="deff" name="points" step="1" min="0" max="100" [value]="obj.pk_def">
                     </div>
                     <div>
                      <label>Speed </label><br>
                      <input type="number" id="spef" name="points" step="1" min="0" max="100" [value]="obj.pk_spe">
                     </div>
                </div>
                <br>
                <div class="d-flex  justify-content-evenly">
                    <button  (click)="Modificar()" type="button" class="btn btn-success" >
                        Modificar
                    </button>  
                    <button  (click)="Eliminar()" type="button" class="btn btn-danger" >
                        Eliminar
                    </button>  
                </div>
                
                <br>
            </div>
            <br>
        </div>
    </div>
</div>