<div class="PokeProfile">
    <div class="">
        <div class="pokeMarc">
            <img src="../../assets/img/Cinderace.png"><!--Aqui va el link de la imagen-->
        </div>
        
        <div>
            <br>
            <h2>Cinderace</h2>
            <div class="pokeform">
                <label>Nombre del Pokemon</label>
                <input id="nombref" type="text" class="form-control inputs">
                <br>
                <label>Entrada Pokedex</label>
                <textarea id="entryf" class="form-control inputs" id="exampleFormControlTextarea1" rows="3"></textarea>
                <br>
                <label>Tipo Pokemon</label>
                <select id="tipof" class="form-select" aria-label="Default select example">
                    <option value="Ofensivo">Ofensivo</option>
                    <option value="Defensivo">Defensivo</option>
                    <option value="Apoyo">Apoyo</option>
                    <option value="Agil">Agil</option>
                    <option value="Equilibrado">Equilibrado</option>
                </select>
                <br>
                <div class="d-flex  justify-content-evenly">
                    <div>
                      <label>Attack </label><br>
                      <input type="number" id="atqe" name="points" step="1" min="0" max="100" value="0">
                     </div>
                     <div>
                      <label>Special </label><br>
                      <input type="number" id="spaf" name="points" step="1" min="0" max="100" value="0">
                     </div>
                     <div>
                      <label>Defense </label><br>
                      <input type="number" id="deff" name="points" step="1" min="0" max="100" value="0">
                     </div>
                     <div>
                      <label>Speed </label><br>
                      <input type="number" id="spef" name="points" step="1" min="0" max="100" value="0">
                     </div>
                </div>
                <br>
                <div class="d-flex  justify-content-evenly">
                    <button  (click)="Modificar()" type="button" class="btn btn-success" >
                        Modificar
                    </button>  
                    <button  (click)="Eliminar()" type="button" class="btn btn-danger" >
                        Eliminar
                    </button>  
                </div>
                
                <br>
            </div>
            <br>
        </div>
    </div>
    
    
</div>
