<!-- Button trigger modal -->
<button type="button" class=" button-default button-slanted loginb button-slanted-content" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Registrar
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">Registrar Nuevo Usuario</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- REGISTER REGISTER REGISTER REGISTER REGISTER REGISTER REGISTER REGISTER REGISTER-->
        <div class="col-xs-1" align="center">
          <br />
          <div class="formh5">
            <h5>Nombre Completo</h5>
            <input id="nombref" type="text" #nombreC required/>
          </div>
          <!--
          <div class="formh5">
            <h5>Apellido</h5>
            <input id="apellidof" type="text" #apellido required/>
          </div>
          
          <div class="d-flex  justify-content-center">
            <div class="formh5">
              <h5>Sexo</h5>
    
              <select id="sexof">
                <option value="Hombre">Hombre</option>
                <option value="Mujer">Mujer</option>
              </select>
            </div>
            
            <div class="formh5">
              <h5>Fecha de Nacimiento</h5>
    
              <input
                type="date"
                class="fechaform"
                id="fechaf"
                value="2022-01-01"
                min="1900-01-01"
                max="2999-12-31"
              />
            </div>
          </div> -->
          <div class="formh5">
            <h5>Username</h5>
            <input id="unamef" type="text" #userName required/>
          </div>
          <div class="formh5">
            <h5>Password</h5>
            <input id="passwordf" type="text" #userPwd required/>
          </div>
          <div class="formh5">
            <h5>Email</h5>
            <input id="emailf" type="text" #userEmail required/>
          </div>
          <br>
          
        <!-- REGISTER REGISTER REGISTER REGISTER REGISTER REGISTER REGISTER REGISTER REGISTER-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Salir
        </button>
        <button (click)="authService.SignUp(userName.value, userEmail.value, userPwd.value, nombreC.value)" type="button" class="btn btn-primary">
          Guardar Usuario
        </button>
      </div>
    </div>
  </div>
</div>