<!-- Button trigger modal -->
<button type="button" class=" button-default button-slanted loginb button-slanted-content" data-bs-toggle="modal"
  data-bs-target="#exampleModal">
  Registrar
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="exampleModalLabel">Registrar Nuevo Usuario</h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- REGISTER REGISTER REGISTER REGISTER REGISTER REGISTER REGISTER REGISTER REGISTER-->
        <div class="col-xs-1" align="center">
          <br/>
          
          <form [formGroup]="formularioContacto" (ngSubmit)="submit()" id="formulario">
            <div class="formh5">
                <h5>Nombre completo:</h5>
                <input type="text" formControlName="nombre" id="nombrecompletof" required>
                <div class="formh5">
                <p><span *ngIf="this.formularioContacto.get('nombre')?.errors?.['required']">
                  (El nombre no puede quedar vacío)
                </span></p>
              </div>
              
            </div>
            <div class="formh5">
              <h5>Usuario:</h5>
                <input type="text" formControlName="userName" id="unamef" required>
                <div class="formh5">
                  <p><span *ngIf="this.formularioContacto.get('userName')?.errors?.['required']">
                  (El usuario no puede quedar vacío)
                </span>
                <span *ngIf="this.formularioContacto.get('userName')?.errors?.['maxlength']">
                  (Debe tener como máximo 10 caracteres)
                </span>
              </p>
            </div>
            </div>

            <div class="formh5">
              <h5>Email:</h5>
                <input type="text" formControlName="mail" id="emailf">
                <div class="formh5">
                  <p><span *ngIf="this.formularioContacto.get('mail')?.errors?.['required']">
                  (El email no puede quedar vacío)
                </span>
                <span *ngIf="this.formularioContacto.get('mail')?.errors?.['email']">
                  (El email no es válido)
                </span>
              </p>
            </div>
            </div>
            <div class="formh5">
              <h5>Password:</h5>
                <input type="text" formControlName="passwordf1" id="passwordf1" required>
                <div class="formh5">
                  <p><span *ngIf="this.formularioContacto.get('passwordf1')?.errors?.['required']">
                  (Este campo no puede quedar vacío)
                </span>
                <span *ngIf="this.formularioContacto.get('passwordf1')?.errors?.['minlength']">
                  (Debe tener como mínimo 6 caracteres)
                </span>
              </p>
            </div>
            </div>
            <div class="formh5">
              <h5>Confirm password:</h5>
                <input type="text" formControlName="passwordf2" id="passwordf2" required>
                <div class="formh5">
                  <p><span *ngIf="this.formularioContacto.get('passwordf2')?.errors?.['required']">
                  (Este campo no puede quedar vacío)
                </span>
                <span *ngIf="this.formularioContacto.get('passwordf2')?.errors?.['minlength']">
                  (Debe tener como mínimo 6 caracteres)
                </span>
              </p>
              </div>
            </div>
            <div class="formh5 alert alert-primary" role="alert" id="errorDatos" hidden>
              {{advice}}
            </div>
            <button type="submit" class="btn btn-primary">Guardar Usuario</button>
          </form>
          <!-- REGISTER REGISTER REGISTER REGISTER REGISTER REGISTER REGISTER REGISTER REGISTER-->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Salir
          </button>
        </div>
      </div>
    </div>
  </div>