<!--<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#Login">
    Login
  </button>

  
  
  <div  type="button" class="button-default button-slanted loginb" [routerLink]="/login-phone">
    <span class="button-slanted-content">Loguearse</span>
  </div>
  -->
  <div  type="button" class="button-default button-slanted loginb"  data-bs-toggle="modal" data-bs-target="#Login">
    <span class="button-slanted-content">Loguearse</span>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="Login" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN-->
          <div class="col-xs-1" align="center">
            <div *ngIf="Metodo==false">
                    <h5>Iniciar sesión con número de celular</h5>
                    <button  (click)="MetodoLogin()" type="button" class="btn btn-warning" data-dismiss="modal">
                      Login con email
                   </button>
                    <div class="container">
                        <label for="phone" id="lbNum">Número de teléfono</label>
                        <div id="cajaNum">
                            <input type="text"  [(ngModel)]="phoneNumber.country"  id="num" class="input" placeholder="52" maxlength="2">
                            <input type="text"  [(ngModel)]="phoneNumber.area"     id="num" class="input" placeholder="449" maxlength="3">
                            <input type="text"  [(ngModel)]="phoneNumber.prefix"   id="num" class="input" placeholder="555" maxlength="3">
                            <input type="text"  [(ngModel)]="phoneNumber.line"     id="num" class="input" placeholder="5555" maxlength="4">
                        </div>
                        <div id="recaptcha-container"></div>
                        <br>
                        <button (click)="sendLoginCode()" class="btn btn-warning">Enviar código de login por SMS</button>
                        <br>
                        <div *ngIf="windowRef.confirmationResult"> 
                            <hr>
                            <label for="code" id="lbNum">Ingrese el código de verificación</label>
                            <input type="text" name="code" id="num" [(ngModel)]="verificationCode">
                            <div class="formh5 alert alert-warning" role="alert" id="errorDatos" hidden>
                              {{advice}}
                            </div>
                            
                            <div class="d-flex justify-content-around">
            
                             <button (click)="verifyLoginCode()" class="btn btn-outline-danger">Verificar</button>
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>
            <div *ngIf="Metodo==true">
                  <div class="container">
                    <h5>Email</h5>
                    <input id="Unamef" type="text" #userEmail required/>
                    <br>
                    <br>
                </div>
                <div  class="container">
                  <h5>Password</h5>
                  <input id="Passwordf" type="text" #userPwd required/>
                  <br>
                  <br>
                  <div class="d-flex justify-content-around">
                    <button  (click)="MetodoLogin()" type="button" class="btn btn-warning" data-dismiss="modal">
                      <a [routerLink]="['/sms']"> SMS</a>
                   </button>
                    <button  (click)="authService.SignIn(userEmail.value, userPwd.value)" type="button" class="btn btn-warning" data-dismiss="modal">
                        Ingresar
                    </button>
                  </div>
                  
                  <br>
              </div>
            </div>
            
          <!-- LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN LOGIN-->
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
    </div>
  </div>