.headerimg{
    height: 600px;
    background-image: url("../../assets/img/PokemonallBackground.jpg");
    margin-left: -11%;
    margin-right: -11%;
    margin-top: -3%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}
.textoheader{
    margin-bottom: 50px;


    height: 100px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    border-bottom: 100px solid rgba(0, 0, 0, 0.712);
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 500px;

}


.tituloheader{
    background-color: orange;
    border: 1px solid brown;
    width: 200px;
    height: 50px;
    transform: translateY(-20px);
    text-align: center;
    padding-top: 10px;

    border-radius: 20px 0px 20px 0px;
}

.cuerpoheader{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 25px;
    transform: translateY(-35px);
}