<div class="headerimg">
  <div class="textoheader">
    <p class="tituloheader">Unete a la aventura</p>
    <p class="cuerpoheader">En pokemon unite hay lugar para todos</p>
  </div>
</div>

<div class="equipo">
  <div class="equipobotones">
    <button class="botonequipo">Descargar Pokemon Unite</button>
  </div>
</div>

<div
  id="carouselExampleDark"
  class="carousel carousel-dark slide"
  data-bs-ride="carousel"
>
  <div class="carousel-indicators">
    <button
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-bs-target="#carouselExampleDark"
      data-bs-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
      <img
        src="assets/img/11.png"
        class="d-block w-100"
        style="width: 18rem"
        alt="..."
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>espantaviej@s</h5>
        <p>no</p>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img src="assets/img/22.jpeg" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h5>guidoverso</h5>
        <p>si</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/img/33.jpg" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h5>Guido-sama</h5>
        <p>si</p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleDark"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleDark"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="infoHome">
  <div class="infSuperior">
    <div class="contactos">
      <div class="redes">
        <a href="https://www.facebook.com/PokemonUniteOfficial/" class="fa fa-facebook"></a>
        <a href="https://twitter.com/PokemonUnite" class="fa fa-twitter"></a>
        <a href="https://www.youtube.com/PokemonUnite" class="fa fa-youtube"></a>
        <a href="https://www.instagram.com/pokemon/" class="fa fa-instagram"></a>
      </div>
      <div class="noticias">
        <p>Las mejores noticias de pokemon</p>
        <button class="botonequipo" onclick="location.href='https://unite.pokemon.com/es-mx/news/'">Noticias</button>
      </div>
    </div>
    <div class="infoUnite">
      <div class="centrar">
        <img
          src="https://unite.pokemon.com/images/footer/unite-logo.png"
          alt=""
        />
      </div>
      <div class="centrar">
        <img
          src="https://unite.pokemon.com/images/footer/logo-tpc.svg"
          alt=""
        />
      </div>
      <div class="centrar">
        <img
          src="https://unite.pokemon.com/images/footer/logo-nintendo-switch.svg"
          alt=""
        />
      </div>
    </div>
    <div class="etiquetas">
      <div class="derechas">
        <button class="botonequipo" onclick="location.href='https://unite.pokemon.com/es-mx/'">Mexico</button>
      </div>
      <div class="derechas">
        <img src="https://unite.pokemon.com/images/footer/privacy.png" alt="" />
      </div>
      <div class="derechas">
        <img
          src="https://unite.pokemon.com/images/footer/ratings/rating-en-us.jpg"
          alt=""
          width="180"
        />
      </div>
    </div>
  </div>
  <div class="infoInferior">
    <div class="registrosLegales">
      <a href="https://www.pokemon.com/us/terms-of-use/">Terms of Use</a>
      <p class="lineorange"> | </p>
      <a href="https://www.pokemon.com/us/privacy-notice/">Privacy Notice</a>
      <p class="lineorange"> | </p>
      <a href="http://www.pokemon.com/us/legal/">Legal Info</a>
      <p class="lineorange"> | </p>
      <a
        href="https://support.pokemon.com/hc/en-us/categories/360003065772-Pok%C3%A9mon-UNITE"
        >Customer service
      </a>
    </div>
    <div class="registrosDatos">
      <p>
        ©2021 Pokémon. ©1995–2021 Nintendo / Creatures Inc. / GAME FREAK inc.
      </p>
      <p>©2021 Tencent.</p>
      <p>TM, ® Nintendo.</p>
      <p>Terminology is not final.</p>
      <p>Screenshots and game footage are from a title under development.</p>
      <p>
        This is a free-to-start game; optional in-game purchases available. Data
        charges may apply.
      </p>
      <p>Nintendo Switch is a trademark of Nintendo</p>
      <p>
        Apple and the Apple logo are trademarks of Apple Inc., registered in the
        U.S. and other countries. App Store is a service mark of Apple Inc.
      </p>
      <p>
        Android, Google Play, and the Google Play logo are trademarks of Google,
        LLC.
      </p>
    </div>
  </div>
</div>
